.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background: var(--Color-1, #222831);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1250px;
  /* background-color: grey; */
  /* margin: 0px 0px 0px 120px; */
  /* padding-left: 40px; */
  padding-right: 40px;
  height: 70px;
}

ul {
  list-style-type: none;
  gap: 30px;
  display: flex;
}
a {
  text-decoration: none;
  font-size: 20px;
  color: var(--Color-3, #eee);
}
.logo {
  color: white;
}
strong {
  color: var(--Color-3, #00adb5);
}
.p1 {
  color: var(--Color-3, #eee);

  font-size: 46px;
  width: 550px;
  padding-top: 220px;
}
.Home {
  /* background-color: #00adb5; */
  height: 1600px;
}
.p2 {
  color: var(--Color-3, #eee);
  font-size: 20px;
  width: 550px;
  padding-top: 20px;
  padding-bottom: 40px;
}
.obj {
  display: flex;
}
.right {
  margin-top: 140px;
}

.img1 {
  margin: 0px 0px 0px 200px;
}
.ab1 {
  color: var(--Color-3, #00adb5);
  text-align: center;
  padding-top: 200px;
}
.p3 {
  margin: auto;
  text-align: center;
  padding-top: 80px;
  font-size: 20px;
  color: var(--Color-3, #eee);
  width: 500px;
}
.card {
  width: 200px;
  height: 100px;
  background-color: #00b576;
}
.p11 {
  width: 170px;
  height: 90px;
  font-size: 27px;
  text-align: center;
  padding-top: 25px;
  border-radius: 12px;
  background-color: var(--Color-3, #00adb5);
  color: white;
}
.work {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 300px 0px 0px 0px;
}
.pr-p1 {
  text-align: center;
  color: var(--Color-3, #00adb5);
}
.all1 {
  display: flex;
  padding-top: 60px;
}
.project {
  height: 3000px;
}
.pr-p2 {
  font-size: 30px;
  color: #00adb5;
  /* padding: 190px 0px 0px 90px; */
}
.c-p1 {
  color: var(--Color-3, #00adb5);
  font-size: 28px;
  padding-top: 60px;
}
.c-allp {
  color: white;
  font-size: 20px;
}
.lll {
  display: flex;
  align-items: center;
  padding-top: 20px;
  gap: 20px;
}
.c-left {
  padding-top: 160px;
}
.c-all {
  display: flex;
}
.c-img2 {
  margin: 80px 0px 0px 400px;
}
.p4 {
  color: var(--Color-3, #00adb5);
  font-size: 34px;
  margin: 160px 0px 0px 530px;
  position: absolute;
}
.resume {
  color: white;
  background-color: var(--Color-3, #00adb5);
  width: 150px;
  height: 30px;
  border-radius: 12px;
  border-color: none;
}
.project {
  width: 200px;
  margin: 140px 0px 0px 0px;

  height: 200px;
  background-color: #00b576;
}
.projects {
  display: flex;
  gap: 30px;
}
